body {
 padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

button {
  padding: 10px 20px;
  color: white;
  background-color: orange;
  font-size: 16px;
  border: none;
}
